{
  "trailingComma": "none",
  "singleQuote": true,
  "bracketSpacing": false,
  "printWidth": 130,
  "useTabs": true,
  "overrides": [
    {
      "files": [
        "Gruntfile.js"
      ],
      "options": {
          "useTabs": false,
          "tabWidth": 2
      }
    }
  ]
}
